.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: linear-gradient(to bottom, #f0f2f5, #dfe3ee);
}

.container {
    -fx-padding: 25;
    -fx-spacing: 15;
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

.section {
    -fx-font-size: 16px;
    -fx-text-fill: #34495e;
    -fx-padding: 10 0 0 0;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #ced6e0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 3, 0, 0, 1);
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 8 14;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.button:pressed {
    -fx-background-color: #2471a3;
}

.save-button {
    -fx-background-color: #2ecc71;
}

.delete-buton{
    -fx-background-color: #ff6961;
}

.delete-button:hover {
    -fx-background-color: #ff5c5c;
}

.delete-button:pressed {
    -fx-background-color: #e04848;
}


.save-button:hover {
    -fx-background-color: #27ae60;
}

.save-button:pressed {
    -fx-background-color: #1e8449;
}

.list-view {
    -fx-background-color: white;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 4;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.04), 2, 0, 0, 1);
}

HBox {
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
}